<table class="table table-hover ml-5">
	<% comments.each do |comment| %>
		<tr>
			<td class="text-center align-middle text-dark">
				<%= link_to user_path(comment.user.id) do %>
				  <%= image_tag comment.user.get_profile_image, size: "60×60" %></br>
				  <%= comment.user.nickname %>
		  	<% end %>
		  </td>
		  <td class="text-center align-middle text-dark">
		  	<%= comment.content %>
		  </td>
		  <% if comment.user == current_user or admin_signed_in? %>
			  <td class="text-center align-middle text-dark">
		      <%= button_to "コメント削除", game_review_comment_path(comment.review.game, comment.review, comment),
		      		method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger ml-2" %>
		    </td>
	    <% end %>
		</tr>
	<% end %>
</table>
