<% comments.each do |comment| %>
	<div class="border-top d-flex align-items-center">
		<div class="text-center m-3">
			<%= link_to user_path(comment.user.id), class: 'text-dark' do %>
				<%= image_tag comment.user.get_profile_image, size: "60x60" %></br>
				<%= comment.user.nickname %>
			<% end %>
		</div>

		<div class="col-9">
			<%= safe_join(comment.content.split("\n"),tag(:br)) %>
		</div>

		<% if comment.user == current_user or admin_signed_in? %>
			<div class="ml-auto mr-3">
				<%= button_to "Delete", game_review_comment_path(comment.review.game, comment.review, comment),
						method: :delete, data: { confirm: 'Are you sure you want to delete this comment ?' }, class: "btn btn-dark ml-2" %>
			</div>
		<% end %>
	</div>
<% end %>