<div class="container">
  <div class="row d-flex justify-content-center">
    <p class="font-weight-bold bg-secondary bg-secondary text-light  m-5 p-1 h4">
      管理者ログイン
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="d-flex justify-content-center border rounded p-3 shadow">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-1">
          <%= f.label :email, 'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %>
        </div>

        <div class="field my-1">
          <%= f.label :password, 'パスワード' %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <!--< if devise_mapping.rememberable? %>-->
        <!--  <div class="field">-->
        <!--    <= f.check_box :remember_me %>-->
        <!--    <= f.label :remember_me %>-->
        <!--  </div>-->
        <!--< end %>-->

        <div class="actions mt-2">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#= render "admin/shared/links" %>
