<table class=" table border border-dark", style="width:80%;">
	<th class="text-center align-middle border-bottom border-dark">
		Information
	</th>
	<% if user.is_active == false %>
		<tr>
			<td>Withdrawal User</td>
		</tr>
	<% end %>
	<tr>
		<td class="text-center align-middle">
			<% if user != current_user && current_user.nickname != 'ゲスト' %>
				<div class="report-btn text-right mr-2" id="report-btn-<%= user.id %>">
					<%= render "reports/report_btn", comment: user %>
				</div>
			<% end %>
			<%= image_tag user.get_profile_image, size: '100x100', alt: 'User Image' %>
		</td>
	</tr>
	<tr>
		<td class="align-middle">
			<p>Nickname</p>
			<div class="text-center"><%= user.nickname %></div>
		</td>
	</tr>
	<tr>
		<td class="align-middle">
			<p>Introduction</p>
			<div class="text-center"><%= user.introduction %></div>
		</td>
	</tr>
	<% if user == current_user or admin_signed_in? %>
		<% if user.nickname != 'ゲスト' %>
			<tr>
				<td class="text-center align-middle">
					<div><%= link_to 'Edit', edit_user_path(params[:id]), class: 'text-dark' %></div>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>