<div class="container">
  <div class="row">
    <p class="font-weight-bold bg-secondary bg-secondary text-light mx-auto mt-5 p-1 h5">
			ユーザー情報編集
		</p>
	</div>

	<div class="row">
		<div class="col-6 mx-auto">
			<%= render 'layouts/errors', obj: @user %>

        <%= form_with model: @user do |f| %>
          <div class="form-group text-nowrap mt-3 mb-3">
            <%= f.label :profile_image, 'イメージ(なくてもOK)' %></br>
            <%= f.file_field :profile_image, accept: 'image/*', class: "ml-4" %>
          </div>

          <div class="form-group text-nowrap mt-3 mb-3">
            <%= f.label :nickname, 'ニックネーム' %></br>
            <%= f.text_field :nickname, class: "ml-4" %>
          </div>

          <div class="form-group text-nowrap mt-3 mb-3">
            <%= f.label :introduction, 'イントロダクション(空欄可)' %></br>
            <%= f.text_area :introduction, rows: '3', cols: '30', class: "ml-4" %>
          </div>

          <% if admin_signed_in? %>
            <div class="form-group text-nowrap mt-3 mb-3">
              <%= f.label :is_active, "会員ステータス" %>
              <div class="form-inline">
                <%= f.radio_button :is_active, :true, checked: @user.is_active, class: "ml-4 form-control" %>
                <%= label_tag 'is_active_true', '有効' %>
                <%= f.radio_button :is_active, :false, checked: !@user.is_active, class: "ml-4 form-control" %>
                <%= label_tag 'is_active_false', '退会' %>
              </div>
            </div>
          <% end %>

          <div class="form-group text-center">
            <%= f.submit 'アップデート', class: 'btn btn-secondary' %>
          </div>
        <% end %>

        <% if @user == current_user %>
          <div class="text-center">
            <%= button_to '退会する', cancel_user_path(@user), method: :patch,
                data: { confirm: '本当に退会しますか？' }, class: "btn btn-danger" %>
          </div>
        <% end %>


    </div>
  </div>
</div>