<div class='container'>
  <% if @user.nickname != 'ゲスト' %>
  	<div class='row'>
	    <div class='col-6 col-md-3 mt-5'>
				<div>
					<%= render 'info', user: @user %>
				</div>
			</div>

			<div class='col-md-9 mt-5'>
	    	<div class="my-3">
	    		<span class="h2 mr-2">Reviews List</span> <span>(全<%= @user.reviews.count %>件)</span>
					<table class='table table-hover mt-3'>
						<thead class="bg-light">
							<tr>
								<th></th>
								<th>Game Name</th>
								<th>Review</th>
								<th></th><th></th>
								<th>Useful</th>
								<th>Comments</th>
							</tr>
						</thead>

						<tbody>
							<% @reviews.each do |review| %>
								<tr>
									<td class="text-center align-middle">
										<%= link_to game_reviews_path(review.game) do %>
											<%= image_tag review.game.get_image, size: "90x100" %>
										<% end %>
									</td>
									<td class="text-center align-middle">
										<%= link_to review.game.name, game_reviews_path(review.game), class: 'text-dark' %>
									</td>
									<td colspan="3" class="align-middle">
										<%= link_to safe_join(review.content.split("\n"),tag(:br)), game_review_path(review.game, review), class: 'text-dark' %>
									</td>
									<td class="text-center align-middle">
										<%= review.usefuls.count %>
									</td>
									<td class="text-center align-middle">
										<%= review.comments.count %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<div class="d-flex justify-content-center">
						<p>
							<%= paginate @reviews, theme: 'bootstrap-5' %>
						</p>
					</div>
				</div>

				<div class="my-3">
	    		<span class="h2 mr-2">Comments List</span> <span>(全<%= @user.comments.count %>件)</span>
					<table class='table table-hover mt-3'>
						<thead class="bg-light">
							<tr>
								<th></th>
								<th>Game Name</th>
								<th>Review</th>
								<th></th><th></th>
								<th>Comment</th>
								<th></th><th></th>
							</tr>
						</thead>

						<tbody>
							<% @comments.each do |comment| %>
								<tr>
									<td class="text-center align-middle">
										<%= link_to game_reviews_path(comment.review.game) do %>
											<%= image_tag comment.review.game.get_image, size: "90x100" %>
										<% end %>
									</td>
									<td class="text-center align-middle">
										<%= link_to comment.review.game.name, game_reviews_path(comment.review.game), class: 'text-dark' %>
									</td>
									<td colspan="3" class="align-middle">
										<%= link_to safe_join(comment.review.content.split("\n"),tag(:br)), game_review_path(comment.review.game, comment.review), class: 'text-dark' %>
									</td>
									<td colspan="3" class="align-middle">
										<%= link_to safe_join(comment.content.split("\n"),tag(:br)), game_review_path(comment.review.game, comment.review), class: 'text-dark' %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% else %>
	  <div class="text-center mt-4 mb-2">
			Sign up
			<%= link_to "here", users_guest_sign_out_path, method: :post %>
		</div>
		<p class="text-center mt-5 mb-5 h2">
			お試しいただき</br>
			ありがとうございます
		</p>
		<p class="text-center h5">
			ゲストは閲覧のみになります。</br>
			ゲームを追加したりレビューやコメントで</br>
			一緒にこのサイトを盛り上げていただけたら、</br>
			とても嬉しいです。</br>
			上記からサインアップお願いします！
		</p>
	<% end %>
</div>