<div class='container'>
	<% if @user.nickname != 'ゲスト' %>
		<div class='row'>
			<div class='col-6 col-md-3 mt-5'>
				<div>
					<%= render 'info', user: @user %>
				</div>
			</div>

			<div class='col-md-9 mt-5'>
				<span class="h2 mr-2">Reviews List</span><span>(<%= @user.reviews.count %>)</span>
				<% if @reviews.present? %>
					<% @reviews.each do |review| %>
						<div class="card my-2">
							<div class="row g-0">
								<div class="col-3">
									<div class="m-2 text-center">
										<%= link_to game_reviews_path(review.game) do %>
											<%= image_tag review.game.get_image, class: "obj-img", alt: 'Game Image' %>
										<% end %>
									</div>
								</div>
								<div class="col-9">
									<div class="d-flex justify-content-between mt-3 mb-2">
										<div class="">
											Game Name : <%= link_to review.game.name, game_reviews_path(review.game), class: 'text-dark' %>
										</div>
										<div class="mr-3">
											<small class="text-secondary"><%= review.created_at.strftime('%m/%d/%Y %H:%M') %></small>
										</div>
									</div>

									<div class="d-flex align-items-center">
										<div class="mr-3">
											Useful : <%= review.usefuls.count %>
										</div>
										<div class="ml-3">
											Comments : <%= review.comments.count %>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<div class="card-body border-top mx-2">
										<div class="card-text">
											<%= link_to safe_join(review.content.split("\n"),tag(:br)), game_review_path(review.game, review), class: 'text-dark' %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>

					<div class="d-flex justify-content-center">
						<p>
							<%= paginate @reviews, theme: 'bootstrap-5' %>
						</p>
					</div>

				<% else %>
					<div class="m-3">
						Nothing
					</div>
				<% end %>


				<div class="mt-3">
					<span class="h2 mr-2">Comments List</span><span>(<%= @user.comments.count %>)</span>
					<% if @comments.present? %>
						<% @comments.each do |comment| %>
							<div class="card my-2">
								<div class="row g-0">
									<div class="col-3">
										<div class="m-2">
											<div class="text-center">
												<%= link_to game_reviews_path(comment.review.game) do %>
													<%= image_tag comment.review.game.get_image, class: "obj-img", alt: 'Game Image' %>
												<% end %>
											</div>

											<div class="ml-2">
												Game Name :
												<div class="text-center">
													<%= link_to comment.review.game.name, game_reviews_path(comment.review.game), class: 'text-dark' %>
												</div>
											</div>
										</div>
									</div>

									<div class="col-9">
										<div class="d-flex justify-content-between my-2">
											<h6 class="mt-2">Review</h6>
											<div class="mr-3">
												<small class="text-secondary"><%= comment.review.created_at.strftime('%m/%d/%Y %H:%M') %></small>
											</div>
										</div>

										<div>
											<%= link_to safe_join(comment.review.content.split("\n"),tag(:br)), game_review_path(comment.review.game, comment.review), class: 'text-dark' %>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<div class="card-body border-top mx-2">
											<div class="d-flex justify-content-between">
												<div class="card-text">
													<%= link_to safe_join(comment.content.split("\n"),tag(:br)), game_review_path(comment.review.game, comment.review), class: 'text-dark' %>
												</div>
												<div class="">
													<small class="text-secondary"><%= comment.created_at.strftime('%m/%d/%Y %H:%M') %></small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					<% else %>
						<div class="m-3">
							Nothing
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% else %>
		<div class="text-center mt-4 mb-2">
			Sign up
			<%= link_to "here", users_guest_sign_out_path, method: :post %>
		</div>
		<p class="text-center mt-5 mb-5 h2">
			お試しいただき</br>
			ありがとうございます
		</p>
		<p class="text-center h5">
			ゲストは閲覧のみになります。</br>
			ゲームを追加したりレビューやコメントで</br>
			一緒にこのサイトを盛り上げていただけたら、</br>
			とても嬉しいです。</br>
			上記からサインアップお願いします！
		</p>
	<% end %>
</div>