<div class="container">
  <div class="row">
    <p class="font-weight-bold bg-secondary text-light mx-auto my-4 p-1 h4">
      Genre Editing
    </p>
  </div>


  <div class="col-lg-6 mx-auto">
    <%= render 'layouts/errors', obj: @genre %>
    <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
      <div class="form-group d-flex justify-content-between align-items-center text-nowrap my-3">
        <%= f.label :Genre, class: "font-weight-bold mr-2" %>
        <%= f.text_field :name, placeholder: "Type genre name", class: "form-control name mx-4" %>
        <%= f.submit :Save, class: 'btn btn-success ml-2' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to '< Genres List >', admin_genres_path %>
    </div>
  </div>
</div>