<%= form_with model: game do |f| %>
  <div class="field">
    <%= f.label :name, 'ゲーム名' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :genre_id, 'ジャンル' %>
    <%= f.select :genre_id, options_for_select(@genres.map { |g| [g.name, g.id] }, game.genre_id), {class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :release_date, '発売日' %>
    <%= f.date_select :release_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
