<%= form_with(model: game) do |f| %>
  <div class="field">
    <%= f.label :name, 'ゲーム名' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :genre_id, 'ジャンル' %>
    <%= f.number_field :genre_id %>
  </div>

  <div class="field">
    <%= f.label :release_date, '発売日' %>
    <%= f.date_select :release_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
