<% if games.present? %>
	<table class='table table-hover'>
		<thead class="bg-light">
			<tr>
				<th></th>
				<th class="text-nowrap">Game Name</th>
				<th>Release Date</th>
				<th>Played</th>
				<th>Reviews</th>
			</tr>
		</thead>

		<tbody>
			<% games.each do |game| %>
				<tr data-controller="href"
						data-action="click->href#toHref"
						data-href="<%= game_reviews_path(game) %>"
						style="cursor: pointer;">
					<td>
						<%= image_tag game.get_image, class: "obj-img", alt: 'game image' %>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.name %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.release_date.strftime('%m/%d/%Y') %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.play_games.count %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.reviews.count %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% else %>
	<div class="text-center">
		Nothing
	</div>
<% end %>

