<% if games.present? %>
	<div>
		<%= link_to 'New', games_path(latest: "true"), class: 'text-dark' %> |
		<%= link_to 'Old', games_path(earliest: "true"), class: 'text-dark' %> |
		<%= link_to 'Popular', games_path(popular: "true"), class: 'text-dark' %>
	</div>
	<table class='table table-hover'>
		<thead class="bg-light">
			<tr>
				<th></th>
				<th class="text-nowrap">Game Name</th>
				<th>Release date</th>
				<th>Played</th>
				<th>Reviews</th>
			</tr>
		</thead>

		<tbody>
			<% games.each do |game| %>
				<tr data-controller="href"
						data-action="click->href#toHref"
						data-href="<%= game_reviews_path(game) %>"
						style="cursor: pointer;">
					<td>
						<%= image_tag game.get_image, size: "90x100", alt: 'game image' %>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.name %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.release_date.strftime('%Y年%m月%d日') %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.play_games.count %>
						</div>
					</td>
					<td class="align-middle text-dark">
						<div class="ml-3">
							<%= game.reviews.count %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% else %>
  <div class="text-center">
    Nothing
  </div>
<% end %>

