<% if games.present? %>
	<div class="row">
		<% games.each do |game| %>
			<div class="col-6 col-md-4">
				<div class="card mb-3"
					data-controller="href"
					data-action="click->href#toHref"
					data-href="<%= game_reviews_path(game) %>"
					style="cursor: pointer;">

					<%= image_tag game.get_image, class: "card-img-top", alt: 'game image' %>

					<div class="card-body">
						<h5 class="card-title">
							<%= game.name %>
						</h5>
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Release Date : <%= game.release_date.strftime('%m/%d/%Y') %>
						</li>
						<li class="list-group-item">
							Played : <%= game.play_games.count %>
						</li>
						<li class="list-group-item">
							Reviews : <%= game.reviews.count %>
						</li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>

<% else %>
	<div class="text-center">
		Nothing
	</div>
<% end %>

