<div>
  <%= game.name %>
</div>
<div>
  <%= game.genre.name %>
</div>
<div>
  <%= game.release_date %>
</div>
<div>
  <%= render 'play_games/btn', game: game %>
</div>
<% if user_signed_in? %>
  <% if current_user.nickname != 'ゲスト' %>
    <%= link_to 'Edit', edit_game_path(game) %>
  <% end %>
<% elsif admin_signed_in? %>
  <%= link_to 'Edit', edit_game_path(game) %>
<% end %>