<p>
  <%= game.name %>
</p>
<p>
  <%= game.genre.name %>
</p>
<p>
  <%= game.release_date %>
</p>
<% if user_signed_in? %>
  <% if current_user.nickname != 'ゲスト' %>
    <%= link_to 'Edit', edit_game_path(game) %>
  <% end %>
<% elsif admin_signed_in? %>
  <%= link_to 'Edit', edit_game_path(game) %>
<% end %>