<table class=" table border border-dark", style="width:80%;">
  <th class="text-center align-middle border-bottom border-dark">
    info
  </th>
  <tr>
    <td class="align-middle">
      <p>ゲーム名:</p> <div class="text-center"><%= game.name %></div>
    </td>
  </tr>
  <tr>
    <td class="align-middle">
      <p>ジャンル:</p> <div class="text-center"><%= game.genre.name %></div>
    </td>
  </tr>
  <tr>
    <td class="align-middle">
      <p>発売日:</p> <div class="text-center"><%= game.release_date %></div>
    </td>
  </tr>
  <tr>
    <td class="align-middle">
      <p>プレイしたことある人:</p>
      <div class="text-center", id="play_game_buttons_<%= game.id %>">
        <%= render 'play_games/btn', game: game %>
      </div>
    </td>
  </tr>
  <% if user_signed_in? %>
    <% if current_user.nickname != 'ゲスト' %>
      <tr>
        <td class="text-center">
          <%= link_to '編集', edit_game_path(game) %>
        </td>
      </tr>
    <% end %>
  <% elsif admin_signed_in? %>
    <tr>
      <td class="text-center">
        <%= link_to '編集', edit_game_path(game) %>
      </td>
    </tr>
  <% end %>
</table>