<div>
	<%= render 'layouts/genre', genres: @genres %>
</div>

<h2>Games</h2>

<div>
	<% if user_signed_in? %>
		<% if current_user.nickname != 'ゲスト' %>
			<%= link_to 'New Game', new_game_path %>
		<% end %>
	<% elsif admin_signed_in? %>
		<%= link_to 'New Game', new_game_path %>
	<% end %>
</div>

<%= render 'index', games: @games %>

<div class="d-flex justify-content-center">
	<p>
		<%= paginate @games, theme: 'bootstrap-5' %>
	</p>
</div>