<div class='container'>
	<% if user_signed_in? %>
		<% if current_user.nickname == 'ゲスト' %>
	    <div class="text-center mt-4 mb-2">
				Sign up
				<%= link_to "here", users_guest_sign_out_path, method: :post %>
			</div>
	  <% end %>
  <% end %>
  <div class='row'>
    <div class='col-6 col-md-3 mt-5'>
			<div>
				<%= render 'layouts/genre', genres: @genres %>
			</div>
		</div>

		<div class='col-md-9 mt-5'>
    	<div class="my-3">
				<span class="h2 mr-2">Games List</span> <span>(全<%= Game.all.count %>件)</span>
				<div class="ml-2">
					<% if user_signed_in? %>
						<% if current_user.nickname != 'ゲスト' %>
							<%= link_to 'Add Game', new_game_path, class: 'text-dark' %>
						<% end %>
					<% elsif admin_signed_in? %>
						<%= link_to 'Add Game', new_game_path, class: 'text-dark' %>
					<% end %>
				</div>
			</div>
			<div>
				<%= link_to 'New', games_path(latest: "true"), class: 'text-dark' %> |
				<%= link_to 'Old', games_path(earliest: "true"), class: 'text-dark' %> |
				<%= link_to 'Popular', games_path(popular: "true"), class: 'text-dark' %>
			</div>
			<%= render 'index', games: @games %>

			<div class="d-flex justify-content-center">
				<p>
					<%= paginate @games, theme: 'bootstrap-5' %>
				</p>
			</div>
		</div>
	</div>
</div>