<div class='container'>
  <div class='row'>
    <div class='col-3 mt-5'>
			<div>
				<%= render 'layouts/genre', genres: @genres %>
			</div>
		</div>

		<div class='col-9 mt-5'>
    	<div class="my-3">
				<span class="h2 mr-2">Games</span>
				<span class="ml-2">
					<% if user_signed_in? %>
						<% if current_user.nickname != 'ゲスト' %>
							<%= link_to 'ゲームを追加', new_game_path %>
						<% end %>
					<% elsif admin_signed_in? %>
						<%= link_to 'ゲームを追加', new_game_path %>
					<% end %>
				</span>
			</div>

			<%= render 'index', games: @games %>

			<div class="d-flex justify-content-center">
				<p>
					<%= paginate @games, theme: 'bootstrap-5' %>
				</p>
			</div>
		</div>
	</div>
</div>