<div class="container">
  <div class="row d-flex justify-content-center">
    <p class="font-weight-bold bg-secondary bg-secondary text-light  m-5 p-1 h4">
      Sign up
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8 col-md-6 border rounded p-3 shadow">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field my-1">
          <%= f.label :nickname, 'Nickname' %><br />
          <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
        </div>

        <div class="field my-1">
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field my-1">
          <%= f.label :password, 'Create password' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <small class="form-text text-muted">
            Must be 6 - 20 characters
          </small>
        </div>

        <div class="field my-1">
          <%= f.label :password_confirmation, 'Re-type password' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-2 text-center p-1">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="font-weight-bold bg-secondary bg-secondary text-light my-5 mr-2 p-1 h5">
        Have an existing account ?
      </div>
      <div class="my-5">
        <%= link_to "Sign up", new_user_session_path, class: "ml-2 btn btn-outline-secondary" %></br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="font-weight-bold bg-secondary bg-secondary text-light mr-2 p-1 h5">
        Try it ?
      </div>
      <div class="ml-2">
        <%= link_to 'Guest account', users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>