<div class='container'>
	<% if user_signed_in? %>
		<% if current_user.nickname == 'ゲスト' %>
	    <div class="text-center mt-4 mb-2">
				Sign up
				<%= link_to "here", users_guest_sign_out_path, method: :post %>
			</div>
	  <% end %>
  <% end %>
  <div class='row'>
    <div class='col-6 col-md-3 mt-5'>
			<div>
				<%= render 'layouts/genre', genres: @genres %>
			</div>
		</div>

    <div class='col-md-9 mt-5'>
      <% if @games.empty? %>
  			<p class="font-weight-bold d-flex justify-content-center">「<%= params[:content] %>」で検索したゲームは見つかりませんでした。</p>
			<% else %>
	    	<div class="my-3">
	    		<span class="h2 mr-2">「<%= params[:content] %>」Search List</span> <span>(全<%= @search_games.count %>件)</span>
	    		<div class="ml-2">
						<% if user_signed_in? %>
							<% if current_user.nickname != 'ゲスト' %>
								<%= link_to 'Add game', new_game_path, class: 'text-dark' %>
							<% end %>
						<% elsif admin_signed_in? %>
							<%= link_to 'Add game', new_game_path, class: 'text-dark' %>
						<% end %>
					</div>
	    	</div>
    		<div>
	    		<%= link_to 'New', search_path(content: params[:content], latest: "true"), class: 'text-dark' %> |
					<%= link_to 'Old', search_path(content: params[:content], earliest: "true"), class: 'text-dark' %> |
					<%= link_to 'Popular', search_path(content: params[:content], popular: "true"), class: 'text-dark' %>

    		<%= render 'games/index', games: @games %>

      	<div class="d-flex justify-content-center">
  				<p>
    				<%= paginate @games, theme: 'bootstrap-5' %>
  				</p>
 				</div>
			<% end %>
		</div>
	</div>
</div>