<div class='container'>
	<% if user_signed_in? %>
		<% if current_user.nickname == 'ゲスト' %>
	    <div class="text-center mt-4 mb-2">
				Sign up
				<%= link_to "here", users_guest_sign_out_path, method: :post %>
			</div>
	  <% end %>
  <% end %>
  <div class='row'>
    <div class='col-6 col-md-3 mt-5'>
			<div>
				<%= render 'games/info', game: @game %>
			</div>
		</div>

		<div class='col-md-9 mt-5'>
    	<div class="my-3">
    		<span class="h2 mr-2">Reviews List</span> <span>(全<%= @game.reviews.count %>件)</span>
				<% if user_signed_in? %>
					<% if current_user.nickname != 'ゲスト' %>
						<div class="ml-2">
							<%= link_to 'Create review', new_game_review_path, class: 'text-dark' %>
						</div>
					<% end %>
				<% end %>

				<%= render 'reviews/index', reviews: @reviews %>

				<div class="d-flex justify-content-center">
					<p>
						<%= paginate @reviews, theme: 'bootstrap-5' %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>