<%= render 'games/info', game: @game %>

<%= link_to 'レビュー一覧に戻る', game_reviews_path(@review) %>
<p>
  <strong>ニックネーム:</strong>
  <%= link_to @review.user.nickname, user_path(@review.user.id) %>
</p>

<p>
  <strong>レビュー:</strong>
  <%= @review.content %>
</p>
<%#= link_to 'Edit', edit_review_path(@review) %>
<%#= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= render partial: "reviews/show_rate", locals: { game: @game } %>

<%= render 'comments/index', comments: @comments %>

<% if user_signed_in? %>
  <%= render 'comments/form', game: @game, review: @review, comment: @comment %>
<% end %>