<div class="container">
  <div class="row d-flex justify-content-center">
    <p class="font-weight-bold bg-secondary bg-secondary text-light  m-5 p-1 h4">
      Sign in
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8 col-md-6 border rounded p-3 shadow">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-1">
          <%= f.label :email, 'Email' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field my-1">
          <%= f.label :password, 'Password' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <!--< if devise_mapping.rememberable? %>-->
        <!--  <div class="field">-->
        <!--    <= f.check_box :remember_me %>-->
        <!--    <= f.label :remember_me %>-->
        <!--  </div>-->
        <!--< end %>-->


        <div class="actions text-center mt-2 p-1">
          <%= f.submit "Sign in" %>
        </div>
        <!--<div class="mt-2">-->
        <!--  <%#= link_to "Forgot password ?", new_password_path(resource_name) %>-->
        <!--</div>-->
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="font-weight-bold bg-secondary bg-secondary text-light my-5 mr-2 p-1 h5">
        Don't have an account ?
      </div>
      <div class="my-5">
        <%= link_to "Sign up", new_user_registration_path, class: "ml-2 btn btn-outline-secondary" %></br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="font-weight-bold bg-secondary bg-secondary text-light mr-2 p-1 h5">
        Try it ?
      </div>
      <div class="ml-2">
        <%= link_to 'Guest account', users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>