<div class='container'>
	<div class='row'>
		<div class='col-md-10 mt-3 mx-auto'>
			<div class="h4 text-center">
				Reports
			</div>

			<% if @reports.present? %>
				<table class="table">
					<thead>
						<tr>
							<th>Reporter</th>
							<th>Reported</th>
							<th>Reason</th>
							<th>Created At</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<% @reports.each do |report| %>
							<tr>
								<td>
									<div class="ml-3">
										<%= report.reporter.nickname %>
									</div>
								</td>
								<td>
									<div class="ml-3">
										<%= report.reported.nickname %>
									</div>
								</td>
								<td>
									<div class="ml-3">
										<%= report.reason %>
									</div>
								</td>
								<td>
									<div class="ml-3">
										<%= report.created_at.strftime('%m/%d/%Y %H:%M') %>
									</div>
								</td>
								<td>
									<div class="ml-3">
										<% if report.content_type == "User" %>
											<%= link_to "Show User", user_path(report.content), class: "text-secondary" %>
										<% elsif report.content_type == "Review" %>
											<%= link_to "Show Review", game_review_path(report.content.game, report.content), class: "text-secondary" %>
										<% elsif report.content_type == "Comment" %>
											<%= link_to "Show Comment", game_review_path(report.content.review.game, report.content.review), class: "text-secondary" %>
										<% end %>
										<%= button_to 'Delete', report_path(report), method: :delete,
											data: { confirm: 'Are you sure you want to delete this report ?' }, class: "btn btn-dark mt-2" %>
									</div>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>

				<div class="d-flex justify-content-center">
					<p>
						<%= paginate @reports, theme: 'bootstrap-5' %>
					</p>
				</div>
			<% else %>
				<div class="text-center">
					Nothing
				</div>
			<% end %>
		</div>
	</div>
</div>